<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.nepm.mapper.GridProvinceMapper">
    <select id="findAll" resultType="GridProvince">
        SELECT id, province_name, province_code, create_time
        FROM grid_province
        ORDER BY id
    </select>
</mapper>
